# Created by .ignore support plugin (hsz.mobi)
.idea/
frontend/node_modules/
frontend/build/
backend/project/target/
backend/target/
*.sublime-workspace
scripts/build/
scripts/dist/
scripts/spotify_importer.egg-info
scripts/result.json