# WorkSpace
**/.idea
**.iml
**/target
*.sublime-workspace

# Mac
.DS_Store

# Maven
# Sbt
**/log/
**/target/

# Gradle
**/build/
**/gradle/
**/.gradle/

# Frontent
frontend/node_modules/
frontend/build/

# Scripts
scripts/build/
scripts/dist/
scripts/spotify_importer.egg-info
scripts/spotify_importer/__pycache__/
scripts/google_music/__pycache__/
